services:
  - type: web
    name: omegazoid-burn-api
    runtime: node
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: TOKEN_MINT
        value: 3RNx8fsFmumKhypgL8KdiGvvopBkiaWNNMg4zNPLpump
      - key: TOKEN_DECIMALS
        value: 6
      - key: HELIUS_API_KEY
        value: 4d9203cb-518a-4cbd-a661-d8e3105a2954
